<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Papa's Pizza</title>

    <!-- Favicon -->
    <link rel = "icon" href = "/images/pizza-icon.png">

    <!-- Stylesheet -->
    <link rel = "stylesheet" href = "/styles/pizza-styles.css">

    <!-- JavaScript -->
    <script src = "js/pizza.js" defer></script>
</head>
<body>
    <main>
        <header>
            <img src = "images/pizza-guy.png" alt = "Papa">
            <h1>Papa's Pizza</h1>
            <p id = "tagline">Serving GRC students for 50 years!</p>
            <hr>
            <p><i>The best pizza you've never had!</i></p>
            <h1>Thank you for your order!</h1>
        </header>
    <main>
</body>
</html>